{% extends 'base.html.twig' %}

{% block title %}Hello LocaltionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

<div class="container">
      <h1>Liste des régions</h1>
      <table class="table table-active text-center" >
        <thead>
          <tr calss="mx-1">
            <th >#</th>
            <th>Régions</th>
            <th>Superficie (km²)</th>
            <th>Département</th>
            <th>Communes</th>
            <th>Quartiers</th>
          </tr>
        </thead>
        <tbody>
        	{% for region in regions %}
              <tr class="table-primary">
                  <td>{{region.id}}</td>
                  <td><a class =" text-white text-decoration-none mt-2 mx-3" href="{{path ('regions_departements',{id: region.id})}}">{{region.nom}}</a></td>
                  <td>{{region.superficie}}</td>
                  <td><a class =" text-white text-decoration-none mt-2 mx-3" href="#">{{region.departement | length}}</a></td>
                  <td><a class =" text-white text-decoration-none mt-2 mx-3" href="#">commune</a></td>
                  <td><a class =" text-white text-decoration-none mt-2 mx-3" href="#">quartiers</a></td>
              </tr> 
          {% endfor %}
        </tbody>
      </table>      
    </div>
</div>
{% endblock %}
